






body{
    margin: 0;
    padding: 0;
    font-family: Nunito,sans-serif;
    background-color: #d8d6df;
}


.PageHeader {
	display: grid;

	justify-content: center;
	background-image: url('https://marceloolz.github.io/dist/img/bg-header.png');
	background-size: cover;
	min-height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom
}

 .pageHeader_Container {
	width: 1200px;
	max-width: 90%;
	margin: 40px 0;
	display: grid;
  grid-template-columns:156px auto ;
}

.pageHeader_Container_Foto {
	width: 156px;
	height: 156px;
	position: relative
}

.pageHeader_Container_Foto img {
	border: 4px solid #fff;
	z-index: 9999;
	border-radius: 100px;
	overflow: hidden;
	width: 100%;
	display: block;
	position: relative
}

 .pageHeader_Container_Foto::after {
	content: ' ';
	display: block;
	width: 156px;
	height: 156px;
	background-color: #574398;
	border-radius: 100px;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 27px;
	animation: animaBgFoto 2s infinite
}

.pageHeader_Container_Fotoo::before {
	content: ' ';
	display: block;
	width: 156px;
	height: 156px;
	background-color: #2b1e56;
	border-radius: 100px;
	z-index: 2;
	position: absolute;
	animation: animaBgFotoReverse 2s infinite
}


.pageHeader_Container_Titulo{
  margin-left: 24px;

	justify-content: center;
	z-index: 999999
}

.Container_Textos_Titulo{
  color: #ffd200;
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
	
}

.Container_Textos_Cargo{
	color: #fff;
	font-size: 20px;
	line-height: 28px;
	font-style: italic;
	font-weight: 100;
	
}

@media only screen and (max-width: 600px) {
  .pageHeader_Container {
	  grid-row:auto;
    width: 20%;
		align-items: center
	}
	.pageHeader .pageHeader_Container .pageHeader_Container_Titulo {
		margin-left: inherit;
		margin-top: 24px;
		text-align: center
	}
  }
	

@keyframes animaBgFoto {
	0% {
		top: -16px;
		left: 0
	}
	50% {
		top: 16px;
		left: 32px
	}
	100% {
		top: -16px;
		left: 0
	}
}

@keyframes animaBgFotoReverse {
	0% {
		top: 24px;
		left: 0
	}
	50% {
		top: -16px;
		left: -12px
	}
	100% {
		top: 24px;
		left: 0
	}
}

/* SECTION CONTAINER */


.section_Container{

	display: grid;
    justify-content: center;
    margin: 64px 0;
	grid-template-columns: 1fr 1fr;


}


.section_Container_Resumo{
	max-width: 90%;
	margin-left: 20%;
	max-height: 10%;
    width: 50%;
    display: grid;    
    grid-gap: 40px
}
.section_Container_Resumo p{
	font-style: italic;
	letter-spacing: 2px
}

.section_Titulo{
	color: #473c7c;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
}


.section_Container_Habilidades{
	max-width: 90%;
	margin-left: 10%;
	max-height: 5%;
    width: 50%;
    display: grid;    
    grid-gap: 40px
}

.section_Habilidades{
	color: #473c7c;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
}
.container_Habilidades{
	display: grid;
	
}
.habilidades_Item h3{
	color: #5a67a8;
    font-size: 14px;
    font-weight: 800;
    font-style: italic;
}
.Conteudo_Item_Barra{
	height: 20px;
    margin-top: 8px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 900;
    color: #000;
    padding-right: 8px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}



.section_Projetos{


    margin: 64px 0;
    padding: 64px 0;
    display: grid;
    justify-content: center;
    background-color: #392b68;

}   

.container_Projetos{
	display: grid;
	width: 1200px;
    max-width: 90%;

}

.projetos_Titulo{
	color: #fff;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
	text-align: center;
}

.projetos_Galeria{
	margin-top: 64px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.projetos_Item{
	width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px
}

.projetos_Item_Button{
	position: absolute;
    bottom: 16px;
    right: 10px;
    background-color: #ffd200;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    color: #392b68;
}

.projetos_Item_Sub{
	color: #fff;  
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
	
	text-align: end;
}

@media screen and (max-width:900px) {
	.projetos_Galeria {
		grid-template-columns: 1fr; 
		
	}
	.container_Projetos{
		width: 780px;
	}
	.projetos_Item{
		width: 50%;
		margin-left: 25%;
	}
	.projetos_Titulo{
		font-size: 20px;
	}
}
